<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bank Account</title>
</head>
<body>
    <h1>Bank Account Register</h1>

    <form method="POST">
        <label></label>
        <input>
        <span></span>

        <br><br>
        <label></label>
        <input>
        <span></span>

        <br><br>
        <label></label>
        <input>
        <span></span>

        <br><br>
        <label></label>
        <input>
        <span></span>

        <br><br>
        <label></label>
        <input>
        <span></span>

        <br><br>

        @Html.Partial("Login")


    </form>
</body>
</html>