<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Passcode</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <h1>Index Page</h1>
    <script>
        $(document).ready(function(){
            $("#generate").click(function(){
                $.get("/Generate", function(res){
                    $("#passcode").text(res.passcode)
                    $("#attempts").text(`Attempt #${res.attempts}`)
                    if("#clearMessage") {
                        $("#clearMessage").text("")
                    }
                });
            });

            $("#clearAttempts").click(function(){
                $.get("/Clear")
                $.get("/Generate", function(res){
                    $("#passcode").text(res.passcode)
                    $("#attempts").text(`Attempt #${res.attempts}`)
                    $("#clearMessage").text("Your number of attempts was cleared.")
                });
            });
        });
    </script>
    <h1>Random String</h1>
    <h2 id="attempts"></h2>
    <h2 id="passcode"></h2>
    <p id="clearMessage"></p>
    <button id="generate">Generate New Passcode</button>
    <button id="clearAttempts">Start Over</button>
</body>
</html>