<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dojo Survey</title>
</head>
<body>
    <div>
        <form action="formSubmit" method="POST">
            <label for="name">Your Name: 
                <input type="text" name="name">
            </label>
            <label for="location">Your Location: 
                <select name="location">
                    <option default value="Hell">Hell</option>
                    <option value="HellOnEarth">HellOnEarth</option>
                    <option value="Chicago">Chicago</option>
                </select>
            </label>
            <label for="language">Your Favorite language: 
                <select name="language">
                    <option default value="Klingon">Klingon</option>
                    <option value="Japanese">Japanese</option>
                    <option value="Russian">Russian</option>
                </select>
            </label>
            <label for="comment">
                Comment (optional):
                <textarea name="comment" cols="30" rows="10"></textarea>
            </label>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>