@model theWall.Models.RegisterViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register or Login</title>
</head>
<body>
    <form asp-controller="Home" asp-action="NewUser" method="post">
        <label asp-for="Username"></label>
        <input type="text" asp-for="Username">
        <span asp-validation-for="Username"></span>
        <br>
        <br>

        <label asp-for="Password"></label>
        <input type="text" asp-for="Password">
        <span asp-validation-for="Password"></span>
        <br>
        <br>

        <label asp-for="ConfirmPassword"></label>
        <input type="text" asp-for="ConfirmPassword">
        <span asp-validation-for="ConfirmPassword"></span>
        <br>
        <br>

        <button type="submit">Register!</button>
    </form>
    <p>@ViewBag.RegisterError</p>

    <a href="Login">Already a User? Login...</a>
</div>
</body>
</html>