#header{
    display: block;
    margin: 200px auto 50px;;
    text-align: center;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: ridge black 4px;
    width: 475px;
    height: 50px;
    margin: 10px auto 0px;
}
#button{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 10px 630px; 
}
#button2{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin: 10px 710px; 
}
