@model LostInTheWoods.Models.Trail

<h1>Add A New Trail</h1>
<a href="/">Go Home</a>

<form asp-controller="Home" asp-action="SubmitTrail" method="post" class="form-group">
    <label asp-for="Name">Trail Name</label>
    <input asp-for="Name" placeholder="Trail Name" class="form-control" id="Name">
    <span asp-validation-for="Name"></span>

    <label asp-for="Description">Trail Description</label>
    <input asp-for="Description" placeholder="Trail Description" class="form-control" id="Description">
    <span asp-validation-for="Description"></span>

    <label asp-for="Length">Trail Length</label>
    <input asp-for="Length" placeholder="Trail Length" class="form-control" id="Length">
    <span asp-validation-for="Length"></span>

    <label asp-for="ElevationGain">Elevation Gain</label>
    <input asp-for="ElevationGain" placeholder="Elevation Gain" class="form-control" id="ElevationGain">
    <span asp-validation-for="ElevationGain"></span>

    <label asp-for="Longitude">Longitude</label>
    <input asp-for="Longitude" placeholder="Longitude" class="form-control" id="Longitude">
    <span asp-validation-for="Longitude"></span>

    <label asp-for="Latitude">Latitude</label>
    <input asp-for="Latitude" placeholder="Latitude" class="form-control" id="Latitude">
    <span asp-validation-for="Latitude"></span>

    <br>

    <button class="btn btn-primary">Create New Trail</button>
</form>
