 /* #allNinjas{
    display: inline;
    margin: 15px 10px;
} */

/* #registerNinja{ */
    /* display: inline-block; */
    /* margin: 15px 10px ; */
/* } */

/* h1{
    display: inline;
}  */

table{
    border: 3px black solid;
}