<h1>Please Submit Your Information For Inspection</h1>

<form action="submitInfo" method="POST" class="form-group">
    <label for="first_name">First Name</label>
    <input name="first_name" placeholder="First Name" type="text" class="form-control" id="first_name"> 

    <label for="last_name">Last Name</label>
    <input name="last_name" placeholder="Last Name" type="text" class="form-control" id="last_name"> 

    <label for="age">Age</label>
    <input name="age" placeholder="Age" type="text" class="form-control" id="age"> 

    <label for="email">Email</label>
    <input name="email" placeholder="Email Address" type="text" class="form-control" id="email"> 

    <label for="password">Password</label>
    <input name="password" placeholder="Password" type="text" class="form-control" id="password"> 
    <br>
    <button class="btn btn-primary">Submit!</button>
    <div>
                @foreach(var error in ViewBag.errors)
                {
                    @if(error.Errors.Count > 0)
                    {
                        <p>@error.Errors[0].ErrorMessage</p>
                    }
                }
    </div>

</form>