<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="~/css/style.css"/> ~
    <title>Project Page</title>
</head>
<body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home Page</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
      <li class="active"><a href="Project">Projects</a></li>
      <li><a href="contact">Contact Me</a></li>
    </ul>
  </div>

<h3>Project: Profile Pic</h3>
<h3>About the Project:</h3>
<p>Lorem Ipsum blah blah blah, et cetera... et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera... </p>
<img src="~/images/temp_photo.jpg" alt="">

<h3>Project: Filler Image For Blog Post</h3>
<h3>About the Project:</h3>
<p>Lorem Ipsum blah blah blah, et cetera... et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera... </p>
<img src="~/images/children.jpg" alt="">

<h3>Project: Belt Exam </h3>
<h3>About the Project:</h3>
<p>Lorem Ipsum blah blah blah, et cetera... et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera...et cetera... </p>
<img src="~/images/MeanExam2.png" alt="">
</nav>
</body>
</html>